<suite name="Nut test Suite">
  <test name="core">
    <classes>
      <class name="nut.artifact.ArtifactTest" />
      <class name="nut.model.BuildTest" />
      <class name="nut.model.DependencyTest" />
      <class name="nut.model.EffectiveModelTest" />
      <class name="nut.model.ModelTest" />
      <class name="nut.model.PluginContainerTest" />
      <class name="nut.model.PluginTest" />
      <class name="nut.project.ProjectBuilderTest" />
      <class name="nut.logging.LogTest" />
    </classes>
  </test>
  <test name="goals">
    <classes>
      <class name="nut.goals.cleanTest" />
      <class name="nut.goals.installTest" />
    </classes>
  </test>
</suite>
