<suite name="Nut test Suite" verbose="0">
  <test name="nut.artifact">
    <classes>
      <class name="nut.artifact.ArtifactTest" />
    </classes>
  </test>
  <test name="nut.model">
    <classes>
      <class name="nut.model.BuildTest" />
      <class name="nut.model.DependencyTest" />
      <class name="nut.model.GoalTest" />
      <class name="nut.model.ModelTest" />
      <class name="nut.model.RepositoryTest" />
    </classes>
  </test>
  <test name="nut.interpolation">
    <classes>
      <class name="nut.interpolation.InterpolatorTest" />
    </classes>
  </test>
  <test name="nut.workers">
    <classes>
      <class name="nut.workers.AssemblerTest" />
    </classes>
  </test>
  <test name="nut.logging">
    <classes>
      <class name="nut.logging.LogTest" />
    </classes>
  </test>
  <test name="nut.goals">
    <classes>
      <class name="nut.goals.CleanTest" />
      <class name="nut.goals.InstallTest" />
      <class name="nut.goals.PackTest" />
    </classes>
  </test>
</suite>
